{
  "service":{
    "path":"{{`{{toSnakeCase .ServiceName}}`}}{{fileSeparator}}pkg{{fileSeparator}}{{`{{toSnakeCase .ServiceName}}`}}service",
    "file_name":"service.go",
    "interface_name":"Service",
    "struct_name":"basicService"
  },
  "middleware":{
    "name":"middleware.go"
  },
  "endpoints":{
    "path":"{{`{{toSnakeCase .ServiceName}}`}}{{fileSeparator}}pkg{{fileSeparator}}{{`{{toSnakeCase .ServiceName}}`}}endpoint",
    "file_name":"set.go"
  },
  "httptransport":{
    "path":"{{`{{toSnakeCase .ServiceName}}`}}{{fileSeparator}}pkg{{fileSeparator}}{{`{{toSnakeCase .ServiceName}}`}}transport",
    "file_name":"http.go"
  },
  "grpctransport":{
  "path":"{{`{{toSnakeCase .ServiceName}}`}}{{fileSeparator}}pkg{{fileSeparator}}{{`{{toSnakeCase .ServiceName}}`}}transport",
  "file_name":"grpc.go"
  },
  "pb":{
  "path":"{{`{{toSnakeCase .ServiceName}}`}}{{fileSeparator}}{{`{{toSnakeCase .ServiceName}}`}}pb"
  },
  "cmd":{
   "path":"cmd{{fileSeparator}}{{`{{toSnakeCase .ServiceName}}`}}",
   "file_name":"main.go"
  },
  "default_transport":"http"
}