syntax = "proto3";
package {{toSnakeCase .PackageName}};
// The {{.PackageName}} service definition.
service {{.ServiceName}} {
{{range $i,$v := .Methods}}    rpc {{$v.Name}} ({{$v.Name}}Req) returns ({{$v.Name}}Res) {}
{{end}}}


{{range $m,$n := .Messages}}
message {{$n.Name}} {
{{range $k,$v := $n.Vars}}     {{$v.Type}} {{$v.Name}} = {{$v.Value}};{{end}}
}
{{end}}

